<div [formGroup]="form" class="border">
	<h3>Address</h3>

	<div class="mb-2">
		<label for="street">Street</label>
		<input type="text" id="steet" formControlName="street" class="form-control" />
	</div>

	<div class="mb-2">
		<label for="city">City</label>
		<input type="text" id="city" formControlName="city" class="form-control" />
	</div>

	<div class="mb-2">
		<label for="state">Postcode</label>
		<input type="text" id="postcode" formControlName="postcode" class="form-control" />
	</div>

	<pre>{{ form.value | json }}</pre>
</div>
